<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet_reg"
        args="load depth_image_proc/register nodelet_manager">
    <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
    <remap from="depth/camera_info" to="/camera/depth/camera_info"/>
    <remap from="depth/image_rect" to="/camera/depth/image_rect_raw"/>
    <remap from="depth_registered/image_rect" to="/camera/depth_registered/image_rect"/>

  </node>
</launch>
